.grid-container{
	display: grid;
	grid-template-columns: 333px 333px 333px;
	grid-template-rows: 50px 380px 205px 150px;
	margin: 0 auto;
	width: 1000px;
}
.logo{
	grid-row: 1;
	grid-column: 1;
	margin-left: 100px;
	margin-top: 8px;
}
.header{
	grid-row: 2;
	grid-column: 1/4;
	width: 1000px;
	margin-top: 30px;
	position: static;

}
.banner1{
	grid-row: 3;
	grid-column: 1;
	position: relative;
	left: 100px;
	
}
.banner2{
	grid-row: 3;
	grid-column: 2;
	margin: 0 auto;
}
.banner3{
	grid-row: 3;
	grid-column: 3;
	position: relative;
	right: 10px;
}
nav{
	position: absolute;
	top: 8%;
	left: 350px;
}
ul {
  grid-row: 2;
  grid-column: 1/4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 830px;
  height: 45px;
 
  font-family: 'Archivo', sans-serif;
  top: 0px;
  left: 75px;



}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	display: block;
  background-color: yellow;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.oplossingen{
	grid-row: 4;
	grid-column: 1/4;
	font-family: 'Archivo', sans-serif;
	background-color: yellow;
	position: relative;
	padding-left: 50px;
	padding-top: 40px;
}

