.grid-container{
	display: grid;
	grid-template-columns: 255px 333px 333px 333px 255px;
	grid-template-rows: 50px 520px 230px 150px;
	
	width: 1400px;
}
.logo{
	grid-row: 1;
	grid-column: 2;
	margin-left: 50px;
	margin-top: 8px;
}
.header{
	grid-row: 2;
	grid-column: 1/6;
	width: 1500px;
	margin-top: 22px;
	position: static;

}
.banner1{
	grid-row: 3;
	grid-column: 2;
	position: relative;
	margin: 0 auto;
	margin-left: 50px;
}
.banner2{
	grid-row: 3;
	grid-column: 3;
	margin: 0 auto;
}
.banner3{
	grid-row: 3;
	grid-column: 4;
	position: relative;
	margin: 0 auto;
	margin-right: 50px;
}
nav{
	position: absolute;
	top: 8%;
	left: 260px;
}
ul {
  grid-row: 2;
  grid-column: 1/4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 1000px;
  height: 50px;
  font-family: 'Archivo', sans-serif;
  top: 0px;
  left: 50px;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	display: block;
  background-color: yellow;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222931;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
	background-color: #ffe718;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.oplossingen{
	grid-row: 4;
	grid-column: 1/6;
	font-family: 'Archivo', sans-serif;
	background-color: #ffe718;
	position: relative;
	padding-left: 270px;
	padding-top: 40px;
}
.werken{
	grid-row: 4;
	grid-column: 2;
	font-family: 'Archivo', sans-serif;
	left: 300px;
	top: 47px;
	position: relative;
}
.weten{
	
	font-family: 'Archivo', sans-serif;
	position: absolute;
	top:845px;
	left: 1000px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-top: 10px;
	padding-left: 30px;
    background-color: white;
}	


.weten:hover{
	background-color: #222931;
	color: white;
}
